html {
    margin:0;
    padding: 0;
}
body {
    margin: 0;
    text-align: center;
    min-height: 100vh;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-image: url("../images/bubbles.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.about-page,
.portfolio-page {
    background-image: url("../images/background-gradient.jpg");
}

.pageslist {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-top: 25vh;
}

.home {
    height: 100vh !important;
    padding-bottom: 100px;
}

.home a {
    text-decoration: none !important;
}

.navbar {
    background-color: transparent !important;
    box-shadow: none !important;
}

.MuiContainer-root {
    margin-right: 10px !important;
}

.css-1q39md6-MuiButtonBase-root-MuiButton-root {
    font-size: 30px !important;
}

.navLogo {
    width: 30px !important;
    padding: 10px;
}

.css-1t6c9ts a{
    text-decoration: none !important;
}

.portrait {
    border-radius: 50%;
    margin-bottom: 100px;
}

.about {
    font-size: 18x;
    color: white;
    padding: 150px 30%;
}

.icons {
    font-size: 60px;
}

.icon-name {
    font-size: 20px;
    margin: 0;
}

.skills-container {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 200px;
    margin-bottom: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    margin: 10px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;     
}

.text {
    margin: 0;
}

.contact-icon {
    font-size: 35px;
}

.email,
.social-media {
    padding: 10px;
}

.note {
    padding-bottom: 10px;
}

.email-icon {
    font-size: 35px;
    color: rgb(81, 3, 155);
}

.portfolio {
    padding: 100px 0;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.css-1t6c9ts {
    justify-content: right !important;
}

.project-cards {
    margin: 40px;
}

.MuiCardActions-root {
    justify-content: center;
} 

