body {
    background: linear-gradient(90deg, rgb(14, 7, 141) 0%, rgba(187,37,236,1) 35%, rgba(255,214,124,1) 100%);
    margin: 0;
    text-align: center;
    min-height: 100vh;
    position: relative;
}

.MuiToolbar-root {
    float: right;
}
.navbar {
    background-color: transparent !important;
    box-shadow: none !important;
}

.MuiContainer-root {
    margin-right: 10px !important;
}

.navLogo {
    width: 30px !important;
    padding: 10px;
}

.css-1t6c9ts a{
    text-decoration: none !important;
}

.about {
    font-size: 18x;
    color: white;
    margin: 100px;
}

.icons {
    font-size: 60px;
}

.icon-name {
    font-size: 20px;
    margin: 0;
}

.skills-container {
    max-width: 600px;
    margin: 0 auto;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    margin: 20px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6rem;         
}

.top-footer {
    display: flex;
    align-items: center;
    justify-content: center;   
}

.text {
    margin: 0;
}

.contact-icon {
    font-size: 35px;
}

.email,
.social-media {
    padding: 10px;
}

.note {
    padding-bottom: 10px;
}

.email-icon {
    font-size: 35px;
    color: rgb(81, 3, 155);
}