html {
    margin:0;
    padding: 0;
}

body {
    margin: 0;
    text-align: center;
    min-height: 100vh;
    position: relative;
    color: white;
    font-family: 'Happy Monkey', cursive;
}

h2 {
    font-size: 30px;
}

.about-page,
.portfolio-page {
    background-image: url("../images/background-gradient.jpg");
}

.pageslist {
    display: flex;
    flex-direction: column;
    float: left;
    margin-left: 10%;
    margin-top: 20vh;
}

.home {
    height: 100vh !important;
    padding-bottom: 150px;
    background-image: url("../images/bubbles.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.home a {
    text-decoration: none !important;
}

.home-options {
    font-size: 40px;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 40px auto;
}

.navbar {
    background-color: transparent !important;
    box-shadow: none !important;
}

.MuiContainer-root {
    margin-right: 10px !important;
}

.css-6jat1c {
    font-size: 30px !important;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}

.css-1q39md6-MuiButtonBase-root-MuiButton-root {
    font-size: 30px !important;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}

.css-o69gx8-MuiCardMedia-root  {
    object-fit: contain !important;
}

.navLogo {
    width: 30px !important;
    padding: 10px;
}

.css-1t6c9ts a{
    text-decoration: none !important;
}

.portrait {
    border-radius: 50%;
    margin-bottom: 100px;
}

.about {
    font-size: 18x;
    color: white;
    padding: 150px 20%;
}

.greeting {
    font-size: 50px;
}

.icons {
    font-size: 60px;
}

.icon-name {
    font-size: 20px;
    margin: 0;
}

.skills-container {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 150px;
    margin-bottom: 150px;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    margin: 10px;
}

.soft-skills {
    margin: 60px auto;
    line-height: 30px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;  
    background-image: url("../images/footer-bubbles.jpg");
    background-size: 100%;
}

.text {
    margin: 0;
    font-size: 20px;
}

.contact-icon {
    font-size: 35px;
    color: white;
    padding: 10px 5px;
}

.email,
.social-media {
    padding: 10px;
}

.note {
    padding-bottom: 10px;
}

.email-icon {
    font-size: 35px;
    color: rgb(81, 3, 155);
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 200px;
}

.css-1t6c9ts {
    justify-content: right !important;
}

.project-cards {
    margin: 40px;
}

.MuiCardActions-root {
    justify-content: center;
} 

.self-introduction {
    line-height: 30px;
    font-size: 20px;
}

.project-container {
    background-image: url("../images/background-gradient.jpg");
    height: 100%;
}

.project-image {
    margin: 50px auto !important;
    max-width: 50%;
    height: auto;
    width: auto\9; /* ie8 */
}

.image-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 250px;
}

.project-links {
    margin: 20px !important;
}

.project-title {
    font-size: 60px;
}

.project-description {
    margin: 50px 10%;
    font-size: 20px;
}

.home-options:hover {
    background-image: linear-gradient(to right, #ba81cf, #6886d4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.css-1q39md6-MuiButtonBase-root-MuiButton-root:hover {
    background-image: linear-gradient(to right, #ba81cf, #6886d4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 1240px) {
    .about {
        padding: 150px 20%;
    }
}


@media only screen and (max-width: 896px) {
    .about {
        padding: 150px 10%;
    }

    .project-image {
        margin: 50px auto !important;
        max-width: 90%;
        height: auto;
        width: auto\9; /* ie8 */
    }
}